
html {overflow-x: hidden;}
.navbar {
    width: 100%;
}
    

#border-header{
    display: block;
    width: 100%;
    border-style:ridge;



}

.p-1 {
    display: block;
    width: 95%;
    border-style:ridge;
    margin-left: 20px;

}


